* {
    box-sizing: border-box;
}


h1 {
    font-size: 300%;
    color: green;

}

p {
    font-size: 14pt;
}

li {
    font-size: 20px;
}

#welcome_message {
    text-decoration: line-through;
}

.student_categorys {
    color: purple;
}

#my_box {
    border: 1px solid black;
    padding: 5px;
    margin: 50px;
    width: 200px;
    box-sizing: border-box;
}