label {
    width: 100%;
    display: inline-block;
}

#secret {
    font-size: xx-large;
}

footer {
    position: fixed;
    bottom: 0;
    font-family: "Times New Roman";
    font-weight: bold;
}

html {
    background-image: linear-gradient(grey, white);
    background-repeat: no-repeat;
}

input[type="submit"] {
    border-radius: 20px;
}
